@page "/Order/{_id:int}"

@inject HttpClient _httpClient

<!---->
@if (OrderDTO is null)
{
    <div>
        Loading...
    </div>
}
else
{
    <div class="align-items-center">
        <div>
            Id: @OrderDTO.Id
        </div>
        <div>
            Name: @OrderDTO.Name
        </div>
        <div>
            State: @OrderDTO.State
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in WindowDTOs)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm">
                                Details
                            </button>
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

@code {
    [Parameter]
    public int _id { get; set; }

    private OrderDTO OrderDTO { get; set; }
    private List<WindowDTO> WindowDTOs { get; set; } = new List<WindowDTO>();

    protected override async Task OnInitializedAsync()
    {
        OrderDTO = await _httpClient.GetFromJsonAsync<OrderDTO>($"https://localhost:7147/Order/{_id}");
        Console.WriteLine($"_orderDTO {OrderDTO.Id}, {OrderDTO.Name}, {OrderDTO.State}");

        WindowDTOs = await _httpClient.GetFromJsonAsync<List<WindowDTO>>($"https://localhost:7147/Window/by-order/{_id}");
        Console.WriteLine($"Recieve windows: {WindowDTOs.Count}");
    }
}
